@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-primary: #FFFFFF;
  /* --text-secondary:  ; */
  

  --rounded-sm: 0.25rem;
  --rounded-md: 0.5rem;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
   