/* Product Card Height */
.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Ensures all cards have the same height */
    min-height: 420px; /* Ensure all product cards are the same height */
  }
  
  /* Add to Bag button at the bottom */
  .product-card .add-to-bag-btn {
    margin-top: auto;
  }
  
  
  
  
  